In [9]:
from pandas import DataFrame, Index, concat

### Sample data

In [2]:
df = DataFrame({
    "src_id": list("aabbcc"),
    "corn_cols": [1, None, 3, None, 5, None],
    "soy_cols": [None, 2, None, 4, None, 6],
})
df

  src_id  corn_cols  soy_cols
0      a        1.0       NaN
1      a        NaN       2.0
2      b        3.0       NaN
3      b        NaN       4.0
4      c        5.0       NaN
5      c        NaN       6.0

### Split into two dataframes with crop-specific columns

In [6]:
sub_dfs = {}

for coltype in ("corn", "soy"):
    sub_dfs[coltype] = df.loc[
        df[f"{coltype}_cols"].notnull(),
        ["src_id"] + [c for c in df.columns if coltype in c]
    ]

In [7]:
sub_dfs["corn"]

  src_id  corn_cols
0      a        1.0
2      b        3.0
4      c        5.0

In [8]:
sub_dfs["soy"]

  src_id  soy_cols
1      a       2.0
3      b       4.0
5      c       6.0

### Make src_id the index in each

In [10]:
for _df in sub_dfs.values():
    _df.index = _df.src_id
    _df.drop("src_id", axis=1, inplace=True)

In [11]:
sub_dfs["corn"]

        corn_cols
src_id
a             1.0
b             3.0
c             5.0

In [12]:
sub_dfs["soy"]

        soy_cols
src_id
a            2.0
b            4.0
c            6.0

### Concatenate them back together, joining on the index.

In [13]:
df_merged = concat(sub_dfs.values(), axis=1)

In [14]:
df_merged

        corn_cols  soy_cols
src_id
a             1.0       2.0
b             3.0       4.0
c             5.0       6.0